
*.dll

*.mdb

*.exe

*._

*.targets

*.nupkg

*.xml

*.ps1

*.rtf
*.cache
*.suo
*.pdb
*.manifest
Trigger.CommandLine/bin/Debug/Trigger.CommandLine.vshost.exe.config

*.userprefs

*.userprefs

*.txt

*.userprefs

Trigger.Smart/Trigger.Smart.userprefs
