<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="DataStoreLocation" value="C:\Users\Saturn\Dropbox\Demo_EventTracker_DB\data\" />
    <add key="DocumentStoreLocation" value="C:\Users\Saturn\Dropbox\Demo_EventTracker_DB\doc\" />

    <!--add key="DataStoreLocation" value="/Users/trigger/Dropbox/EventTracker_datastore/" />	
  	<add key="DocumentStoreLocation" value="/Users/trigger/Dropbox/EventTracker_docstore/" /-->

    <!--Logontype System oder DataStore-->
    <add key="LogonType" value="DataStore" />
  </appSettings>
</configuration>
