<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--add key="DataStoreLocation" value="C:\Users\j.egger.PARASOFT\Dropbox\CIT_datastore\" />
    <add key="DocumentStoreLocation" value="C:\Users\j.egger.PARASOFT\Dropbox\CIT_docstore\" /-->

  	<add key="DataStoreLocation" value="/Users/trigger/DataStores/ParaOffice_datastore/" />	
  	<add key="DocumentStoreLocation" value="/Users/trigger/DataStores/ParaOffice_docstore/" />

    <!--Logontype System oder DataStore-->
    <add key="LogonType" value="DataStore" />
  </appSettings>
</configuration>
