<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.your-company.Trigger.App.OSX.ParaOffice</string>
	<key>CFBundleName</key>
	<string>paraOffice for Mac</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>CFBundleDisplayName</key>
	<string>paraOffice for Mac</string>
	<key>CFBundleIconFile</key>
	<string>paragraph_128x128</string>
	<key>CFBundleShortVersionString</key>
	<string>Alpha</string>
</dict>
</plist>
