<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="DataStoreLocation" value="/Users/trigger/Dropbox/CIT_datastore/" />
	<add key="DocumentStoreLocation" value="/Users/trigger/Dropbox/CIT_docstore/" />
    <add key="StoreMap" value="typeMap.json" />
    <!--Logontype System oder DataStore-->
    <add key="LogonType" value="System" />
 </appSettings>
</configuration>
